name: "JFrog CLI Example"
on: push

permissions:
  # This is required for requesting the OIDC token
  id-token: write
  # This is required for actions/checkout
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup JFrog CLI
        uses: yahavi/setup-jfrog-cli@build-name
        env:
          # JFrog platform url (for example: https://acme.jfrog.io)
          JF_URL: ${{ secrets.JF_URL }}
        with:
          # OIDC provider name from the OIDC integration page in the JFrog Platform
          oidc-provider-name: setup-jfrog-cli

      - name: Run JFrog CLI
        run: |
          # Ping the server
          jf rt ping
          # Collect environment variables for the build
          cd npm-example
          jf npm-config --repo-resolve npm-virtual
          jf audit
          jf npm i
